In [1]:
#Social Media Engagement Prediction Project

import pandas as pd

df = pd.read_csv("social_media_engagement1.csv")
df.head()

,post_id,platform,post_type,post_time,likes,comments,shares,post_day,sentiment_score
0,1,Facebook,image,8/17/2023 14:45,2121,474,628,Thursday,positive
1,2,Facebook,carousel,5/14/2023 0:45,3660,432,694,Sunday,neutral
2,3,Instagram,poll,2/21/2023 16:15,4955,408,688,Tuesday,negative
3,4,Twitter,image,11/16/2023 0:45,1183,90,187,Thursday,negative
4,5,Twitter,video,5/23/2023 0:30,3499,247,286,Tuesday,positive

In [2]:
df["Total_Engagement"] = df["likes"] + df["comments"] + df["shares"]
df.head()

,post_id,platform,post_type,post_time,likes,comments,shares,post_day,sentiment_score,Total_Engagement
0,1,Facebook,image,8/17/2023 14:45,2121,474,628,Thursday,positive,3223
1,2,Facebook,carousel,5/14/2023 0:45,3660,432,694,Sunday,neutral,4786
2,3,Instagram,poll,2/21/2023 16:15,4955,408,688,Tuesday,negative,6051
3,4,Twitter,image,11/16/2023 0:45,1183,90,187,Thursday,negative,1460
4,5,Twitter,video,5/23/2023 0:30,3499,247,286,Tuesday,positive,4032

In [3]:
import pandas as pd

# Encode categorical columns into numbers
df_encoded = pd.get_dummies(df, columns=["platform", "post_type", "post_day", "sentiment_score"], drop_first=True)

df_encoded.head()

,post_id,post_time,likes,comments,shares,Total_Engagement,platform_Instagram,platform_Twitter,post_type_image,post_type_poll,post_type_text,post_type_video,post_day_Monday,post_day_Saturday,post_day_Sunday,post_day_Thursday,post_day_Tuesday,post_day_Wednesday,sentiment_score_neutral,sentiment_score_positive
0,1,8/17/2023 14:45,2121,474,628,3223,False,False,True,False,False,False,False,False,False,True,False,False,False,True
1,2,5/14/2023 0:45,3660,432,694,4786,False,False,False,False,False,False,False,False,True,False,False,False,True,False
2,3,2/21/2023 16:15,4955,408,688,6051,True,False,False,True,False,False,False,False,False,False,True,False,False,False
3,4,11/16/2023 0:45,1183,90,187,1460,False,True,True,False,False,False,False,False,False,True,False,False,False,False
4,5,5/23/2023 0:30,3499,247,286,4032,False,True,False,False,False,True,False,False,False,False,True,False,False,True

In [16]:
X = df_encoded.drop(["likes", "comments", "shares","Total_Engagement", "post_time"], axis=1)
y = df_encoded["Total_Engagement"]

X.head()

,post_id,platform_Instagram,platform_Twitter,post_type_image,post_type_poll,post_type_text,post_type_video,post_day_Monday,post_day_Saturday,post_day_Sunday,post_day_Thursday,post_day_Tuesday,post_day_Wednesday,sentiment_score_neutral,sentiment_score_positive
0,1,False,False,True,False,False,False,False,False,False,True,False,False,False,True
1,2,False,False,False,False,False,False,False,False,True,False,False,False,True,False
2,3,True,False,False,True,False,False,False,False,False,False,True,False,False,False
3,4,False,True,True,False,False,False,False,False,False,True,False,False,False,False
4,5,False,True,False,False,False,True,False,False,False,False,True,False,False,True

In [17]:
X = X.astype(int)

In [18]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score, mean_absolute_error

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

model = LinearRegression()
model.fit(X_train, y_train)

y_pred = model.predict(X_test)

r2 = r2_score(y_test, y_pred)
mae = mean_absolute_error(y_test, y_pred)

print("R2 Score:", r2)
print("MAE:", mae)

R2 Score: 0.12999389524591642
MAE: 1214.5892374481077

In [23]:
df_encoded["post_time"] = pd.to_datetime(df_encoded["post_time"])

In [24]:
df_encoded["hour"] = df_encoded["post_time"].dt.hour
df_encoded["month"] = df_encoded["post_time"].dt.month
df_encoded["is_weekend"] = df_encoded["post_time"].dt.weekday >= 5
df_encoded["is_weekend"] = df_encoded["is_weekend"].astype(int)

In [25]:
df_encoded[["post_time", "hour", "month", "is_weekend"]].head()

            post_time  hour  month  is_weekend
0 2023-08-17 14:45:00    14      8           0
1 2023-05-14 00:45:00     0      5           1
2 2023-02-21 16:15:00    16      2           0
3 2023-11-16 00:45:00     0     11           0
4 2023-05-23 00:30:00     0      5           0

In [26]:
df_encoded["post_time"].dtype

dtype('<M8[ns]')

In [29]:
X = df_encoded.drop(columns=["likes","comments","shares","Total_Engagement"])
X = X.drop(columns=["post_time"])
y = df_encoded["Total_Engagement"]

from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score, mean_absolute_error

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

model = LinearRegression()
model.fit(X_train, y_train)

y_pred = model.predict(X_test)

print("R2 Score:", r2_score(y_test, y_pred))
print("MAE:", mean_absolute_error(y_test, y_pred))

R2 Score: 0.20842915420912078
MAE: 1145.0316507082102

In [30]:
from sklearn.ensemble import RandomForestRegressor

model = RandomForestRegressor(random_state=42)
model.fit(X_train, y_train)

y_pred = model.predict(X_test)

print("R2 Score:", r2_score(y_test, y_pred))
print("MAE:", mean_absolute_error(y_test, y_pred))

R2 Score: 0.13545972869724698
MAE: 1274.8660000000002

In [31]:
# ==========================================
# Social Media Engagement Prediction Project
# ==========================================

import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import r2_score, mean_absolute_error


# --------------------------
# 1. Feature Engineering
# --------------------------

df_encoded["post_time"] = pd.to_datetime(df_encoded["post_time"])

df_encoded["hour"] = df_encoded["post_time"].dt.hour
df_encoded["month"] = df_encoded["post_time"].dt.month
df_encoded["is_weekend"] = (df_encoded["post_time"].dt.weekday >= 5).astype(int)

# Drop original datetime column
df_encoded = df_encoded.drop(columns=["post_time"])


# --------------------------
# 2. Prepare Features & Target
# --------------------------

X = df_encoded.drop(columns=["likes", "comments", "shares", "Total_Engagement"])
y = df_encoded["Total_Engagement"]

X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.2, random_state=42
)


# --------------------------
# 3. Linear Regression Model
# --------------------------

linear_model = LinearRegression()
linear_model.fit(X_train, y_train)

y_pred_linear = linear_model.predict(X_test)

print("Linear Regression Results")
print("R2:", r2_score(y_test, y_pred_linear))
print("MAE:", mean_absolute_error(y_test, y_pred_linear))


# --------------------------
# 4. Random Forest Model
# --------------------------

rf_model = RandomForestRegressor(random_state=42)
rf_model.fit(X_train, y_train)

y_pred_rf = rf_model.predict(X_test)

print("\nRandom Forest Results")
print("R2:", r2_score(y_test, y_pred_rf))
print("MAE:", mean_absolute_error(y_test, y_pred_rf))

Linear Regression Results
R2: 0.20842915420912078
MAE: 1145.0316507082102

Random Forest Results
R2: 0.13545972869724698
MAE: 1274.8660000000002